*
{
font-family: 'Roboto', sans-serif;
}
a
{
text-decoration:none;
color:inherit;
}
body
{
margin:0px;
text-align:center;
background-color:#fff;
}
div#sidebar
{
width:0px;
height:100%;
float:left;
display:none;
position:fixed;
top:0px;
left:0px;
background-color:#222;
overflow-y:auto;
overflow-x:hidden;
}
div#sidebarexp
{
float:left;
}
div.sidebarheader
{
width:260px;
height:60px;
float:left;
line-height:60px;
font-size:30px;
margin:20px;
background-color:#00bcd5;
color:#fff;
}
a.sidebaritem
{
width:235px;
margin:0px 20px 20px 20px;
height:40px;
padding-left:20px;
float:left;
line-height:40px;
text-align:left;
color:#eee;
cursor:pointer;
border-left:solid 5px #00bcd5;
}
div.sidebarheader2
{
width:260px;
height:60px;
float:left;
line-height:60px;
font-size:30px;
margin:0px 20px 20px 20px;
background-color:#00d583;
color:#fff;
}
a.sidebaritem2
{
width:235px;
margin:0px 20px 20px 20px;
height:40px;
padding-left:20px;
float:left;
line-height:40px;
text-align:left;
color:#eee;
cursor:pointer;
border-left:solid 5px #00d583;
}
div#container
{
width:100%;
height:100%;
float:right;
}
div#topbar
{
width:100%;
height:52px;
position:fixed;
top:0px;
right:0px;
float:left;
background-color:#444;
}
div.lines
{
width:32px;
height:32px;
float:left;
padding:10px;
background-image:url('https://ramity.com/resume/img/lines.png');
background-size:32px 32px;
background-position:center;
cursor:pointer;
background-repeat:no-repeat;
}
div.lines:hover
{
background-color:#333;
}
div#header
{
width:100%;
height:460px;
float:left;
margin-top:52px;
background-color:#00D584;
}
div#nameline
{
width:100%;
height:230px;
display:inline-block;
font-size:100px;
line-height:230px;
color:#fff;
}
div#nametitle
{
width:460px;
height:75px;
padding:0px 20px;
margin:75px auto;
color:#fff;
display:inline-block;
font-size:20px;
border-top:0px solid #009E62;
border-bottom:5px solid #009E62;
line-height:75px;
cursor:pointer;
background-color:#00BE76;
}
div.panel
{
width:100%;
float:left;
background-color:#555;
background-size:100%;
background-attachment:fixed;
background-repeat:no-repeat;
}
canvas#game
{
width:900;
height:660px;
margin:20px auto;
display:inline-block;
background-color:#fff;
cursor:none;
-webkit-user-select:none;
-moz-user-select:none;
-khtml-user-select:none;
-ms-user-select:none;
}
div#content
{
width:100%;
float:left;
background-color:#009eee;
}
div#contentinr
{
width:960px;
margin:0px auto;
display:inline-block;
}
div.contentheader
{
font-size:40px;
padding:20px;
margin:20px auto;
color: #fff;
background-color: #007fff;
border-bottom: 5px solid #007aaa;
}